//theme-color----------------
$theme-color: #fff
// //-------colors-----------
// $accents: #e91e63
// //-------colors-----------

//-------colors-----------
$accents: #F44336
-------colors-----------

// //-------colors-----------

// $accents: #ff5722

// // -------colors-----------

// //-------colors-----------
// $accents: #03a9f4
// //-------colors-----------

//--------color
$selection-bg-light: rgba(#fff,.2)
//--------color

//--------color
$selection-bg-dark: rgba(#000,.2)
//--------color
