//-------colors-----------
$primary: #3F51B5
$accents: #e91e63
$haribati: #71c646
//-------colors-----------

// //-------colors-----------
// $primary: #03a9f4
// $accents: #F44336
// $haribati: #71c646
// //-------colors-----------

// //-------colors-----------
// $primary: #673AB7
// $accents: #FF9100
// $haribati: #71c646
// //-------colors-----------

//--------color
$selection-bg-light: rgba(#fff,.2)
//--------color

//--------color
$selection-bg-dark: rgba(#000,.2)
//--------color
