// -------------imports--------------------
@import 'shadows','center-mixins','colors','animations'

//variables--------------------------------
$chips-scroll-width: 565px

*
    margin: 0
    padding: 0
    font-family: 'Roboto',monospace,sans-serif
    cursor: default
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

html,body
    background-color: #303030

.wrapper,nav.nav-bar-wrapper,header#top,section#chips-wrapper,section#grid-wrapper,section.fab
    overflow: hidden
    //overlay---------------------------------------------
    .overlay,.tint,.search-overlay
        width: 100%
        height: 100%
        background: rgba(0,0,0,0.5)
        position: fixed
        z-index: 2
    .search-overlay
        top: 0
        z-index: 0
    //nav-bar---------------------------------------------
    .nav-bar-wrapper
        position: fixed
        width: 256px
        height: 100%
        background: #212121
        z-index: 2
        left: -270px
        box-shadow: 4px 0 10px rgba(0,0,0,0.4)
        transition: left 255ms ease-in-out
        .nav-header
            position: relative
            width: 100%
            height: 140px
            background: url('../assets/nav-header.png')
                size: cover
                color: $primary
            box-shadow: $box-shadow-4dp
            .nav-pic
                width: 60px
                height: 60px
                background: url('../assets/fav.ico')
                    size: 84%
                    position: center
                    color: #424242
                    repeat: no-repeat

                border-radius: 50%
                display: inline-block
                margin: 14px
                z-index: 1
                border: 2px solid rgba(#fff,.75)
                box-shadow: $box-shadow-4dp
            .nav-heading
                position: absolute
                left: 14px
                h1.title,h1.email
                    font-size: 13px
                    color: #fff
                    font-weight: lighter
                    margin: 2px 0
                h1.email
                    font-size: 12px

        ul.nav-menu
            margin: 12px 0
            li.menu-item
                position: relative
                width: 100%
                height: 48px
                // &:hover
                //     background: rgba(#fff,.1)
                // &:active
                //     background: rgba(#fff,.2)
                svg
                    @include centered-y
                    position: absolute
                    left: 14px
                    width: 24px
                    height: 24px
                    border-radius: 50%
                    fill: rgba(#fff,.54)

                h1.list-item-title
                    position: relative
                    display: inline-block
                    left: 60px
                    color: rgba(#fff,.54)
                    font-size: 13px
                    font-weight: lighter
                    line-height: 48px

            .menu-item-selected
                background: rgba(#fff,.2)
            hr
                @include centered-x
                display: table
                width: 95%
                border: 1px solid rgba(255, 255, 255, 0.05)
                margin: 12px 0

    .nav-khulgya
        left: 0
    //header---------------------------------------------------
    .header
        position: absolute
        width: 100%
        height: 238px
        background: $primary
        box-shadow: $box-shadow-4dp
        z-index: 1
        transition: all 225ms ease-in-out
        //search-bar------------------------------------------------------
        .search-bar
            @include centered-x
            position: fixed
            width: 95%
            max-width: 344px
            height: 48px
            background: #fff
            border-radius: 2px
            top: 8px
            box-shadow: $box-shadow-2dp
            overflow: hidden
            transition: height 195ms ease-in-out
            z-index: 2
            svg.nav-btn,svg.back-btn
                position: relative
                width: 24px
                height: 24px
                fill: rgba(0,0,0,0.52)
                left: 6px
                border-radius: 50%
                padding: 6px
                margin: 6px 0
                transition: all 225ms ease-in-out
                &:hover
                    background: rgba(0,0,0,0.1)
                &:active
                    background: rgba(0,0,0,0.2)
            //search-text-field---------------------------------------------------------
            .search-text-field
                @include centered-x
                position: absolute
                width: 250px
                height: 40px
                left: 172px
                margin: 4px 0
                border: 0
                border-radius: 0
                outline: 0
                box-sizing: border-box
                font-size: 16px
                font-weight: 400
                color: $accents
                &::-webkit-input-placeholder
                    color: rgba(0,0,0,0.38)
                    transition: color 300ms ease-in-out
                &:hover
                    &::-webkit-input-placeholder
                        color: rgba(0,0,0,0.54)
                &:focus
                    &::-webkit-input-placeholder
                        color: rgba(0,0,0,0.87)
        .search-active
            height: 192px

    .header-fixed
        position: fixed
        top: -174px
        box-shadow: $box-shadow-6dp
    //chips-wrapper-------------------------------------------------------------
    #chips-wrapper
        text-align: center
        margin: 238px 0 -10px 0
        overflow-x: scroll
        &::-webkit-scrollbar
            display: none
        .chips-list
            width: $chips-scroll-width
            margin: 0 auto
            .chips
                margin: 15px 6px
                background: $accents
                display: inline-block
                border-radius: 50px
                box-shadow: $box-shadow-2dp
                transition: box-shadow 225ms ease-in-out
                h1
                    text-align: center
                    font-size: 14px
                    color: #fff
                    margin: 7.5px 12px
                    text-transform: uppercase
            .chip-clicked
                // box-shadow: $box-shadow-8dp
                background: #fff
                h1
                    color: $accents
    //cerd-grid-wrapper--------------------------------------------------------
    #grid-wrapper
        width: 100%
        margin: 0 auto 20px auto
        text-align: center
        @media only screen and(max-width: 1213px)
            width: 909px
        @media only screen and(max-width: 909px)
            width: 605px
        @media only screen and(max-width: 605px)
            width: 300px
    //cards------------------------------------------------------------
    .card
        position: relative
        width: 250px
        height: 300px
        background: #424242
        margin: 10px
        border-radius: 2px
        box-shadow: $box-shadow-4dp
        display: inline-block
        overflow: hidden
        text-align: initial
        .app-img-wrapper
            @include centered-x
            position: absolute
            width: 100%
            height: 250px
            overflow: hidden
            top: 0
            img.app-image
                @include centered
                position: absolute
                border-radius: 50%

        .title-bar
            width: 100%
            height: 50px
            position: absolute
            bottom: 0
            background: rgba(0,0,0,0.3)
            span
                @include centered-y
                color: #fff
                font-size: 18px
                left: 18px
            .add-btn
                @include centered-y
                position: absolute
                right: 8px
                width: 24px
                height: 24px
                padding: 4px
                border-radius: 50%
                transition: all 225ms ease-in-out
                &:hover
                    background: rgba(255,255,255,0.1)
                &:active
                    background: rgba(255,255,255,0.2)
            .add-btn-clicked
                transform: translateY(-50%) rotate(135deg)
//fab-header-wrapper------------------------------------------------------------
.fab-header-wrapper
    overflow: hidden
    height: 56px
    position: relative
    text-align: center
//fab---------------------------------------------------------------------------
.fab
    width: 56px
    height: 56px
    border-radius: 50%
    background: $accents
    position: fixed
    bottom: 24px
    right: 24px
    box-shadow: $box-shadow-6dp
    transition: all 400ms ease-in-out
    cursor: default
    z-index: 0
    &:hover
        box-shadow: $box-shadow-12dp
    .fab-header
        @include centered
        background: $accents
        width: 0
        height: 0
        border-radius: 50%
        // opacity: 0
        transition: all 200ms ease-in-out
    .fab-header-badlo
        background: $haribati

    .upload-btn
        @include centered
        position: absolute
        width: 28px
        height: 28px
        fill: #fff
    //fab-form------------------------------------------------------------------
    .form-wrapper
        padding: 24px 24px 24px
        min-height: 250px
        line-height: 1.25em
        overflow: hidden
        .text-input
            width: 100%
            margin-top: 8px
            margin-bottom: 8px
            padding: .3125em
            border: none
            border-radius: 0
            border-bottom: 1px solid $accents
            background-color: inherit
            transition: border-color .3s
            color: inherit
            font-size: 1em
            font-weight: 400
            display: inline-block
            vertical-align: top
            outline: 0
            box-sizing: border-box
            &:not(:focus)
                border-bottom-color: rgba(0,0,0,.12)
        textarea
            resize: none
            word-wrap: break-word
        //fab-button-------------------------------------------------------------
        .button-wrapper
            position: relative
            width: 100%
            height: 85px
            .button
                @include centered
                width: 52px
                height: 52px
                border-radius: 50%
                transform: translate(-50%, -50%) scale(1)
                transition: all 350ms ease-in-out
                box-shadow: $box-shadow-4dp
                background-color: $accents
                cursor: default
                border: none
                outline: 0
                -webkit-tap-highlight-color: transparent
                .svg-wrapper
                    width: 100%
                    height: 100%
                    border-radius: 50%
                    transition: background 0.2s ease-in-out
                    cursor: default
                    svg.send-btn, svg.done-btn
                        @include centered
                        width: 22px
                        height: 22px
                        margin-left: 2px
                        position: absolute
                        fill: #fff
                    svg.done-btn
                        width: 30px
                        height: 30px
                        margin-left: 0
                &:active .svg-wrapper
                    background: rgba(0,0,0,0.15)
            .f-btn-off
                animation: jaake-aa 0.7s ease-in-out 1
                animation-fill-mode: forwards
//fab-opened--------------------------------------------------------------------
.fab-open
    width: 350px
    height: 400px
    margin: 0
    border-radius: 2px
    z-index: 2
    bottom: 50%
    right: 50%
    transform: translate(50%,50%)
    transition: all 350ms ease-in-out
    background: #fff
    cursor: default
    &:hover
        box-shadow: $box-shadow-4dp
    @media only screen and (max-width: 425px)
        width: 100%
        height: 100%
        border-radius: 0
    .fab-header-open
        width: 400px
        height: 400px
        transform: translate(-50%,-50%) scale(1)
        transition: all 700ms ease-in-out
        // transition-delay: 0.2s
        // opacity: 1
        position: absolute
        @media only screen and (max-width: 425px)
            width: 430px
            height: 430px

h1.fab-title
    position: relative
    color: #fff
    font-size: 22px
    font-weight: normal
    cursor: default
    line-height: 56px

.close-btn
    position: fixed
    top: 8px
    right: 8px
    z-index: -1
    padding: 8px
    width: 24px
    height: 24px
    border-radius: 50%
    transition: background 200ms ease-in-out
    @media only screen and(max-width: 425px)
        z-index: 2
    &:hover
        background: rgba(0,0,0,0.1)
    &:active
        background: rgba(0,0,0,0.2)
    svg
        @include centered
        width: 24px
        height: 24px
